
/*---------------------------------------
#. Header Home
---------------------------------------*/

.felin-header-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Ensure it's above other content */
  padding: 10px 0;
  background-color: var(--transparent-color);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", sans-serif;
  font-weight: 500;
  transition: box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
}

.felin-header-home.with-shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.felin-header-home__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Ensures space between elements */
  align-items: center;
  padding: 0 22px;
  text-align: center;
}

.felin-header-home__menu-wrapper:first-of-type {
  display: flex;
  align-items: center;
  flex: 1; 
  justify-content: left;
}

.felin-header-home__menu-wrapper:last-of-type {
  display: flex;
  align-items: center;
  flex: 1; 
  justify-content: flex-end; 
  text-align: center;
}

.felin-header-home__menu__home {
  font-weight: 600;
  font-size: 13.25px;
  color: var(--dark-color);
}


.felin-header-home__menu__home:hover {
  color: black;
}


.felin-header-home__menu {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding-left: 10px;
  margin-bottom: 0;
}

.felin-header-home__menu__item {
  position: relative;
  padding-left: 10px;
}

.felin-header-home__menu__item a {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--dark-color);
  padding: 10px 5px;
  transition: all 0.3s ease;
  font-size: 13.25px;
  font-weight: 400;
}

.felin-header-home__menu__item a svg.icon {
  width: 15px; 
  height: 15px; 
}

.felin-header-home__menu__item a svg path {
  fill: currentColor; 
  transition: all 0.3s ease;
}

.felin-header-home__menu__item a:hover {
    color: black;
}


/* .felin-header-home__menu__item:not(.merchant):hover .felin-header-home__submenu {
  height: auto;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
} */


.felin-header-home__submenu {
  position: absolute;
  top: 130%;
  left: 0;
  min-width: 100px;
  padding: 15px 0 10px 0;
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  display: inline-grid;
  grid-template-columns: repeat(1, 10rem); /* Default: 1 column */
  grid-template-rows: repeat(4, auto); /* 4 items per column */
  grid-auto-flow: column;
  gap: 3rem;
  row-gap: 7.5px;
  list-style: none;
  margin: 0;
  justify-content: flex-start;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  overflow: hidden;
  width: auto;
}

.felin-header-home__submenu.open {
    visibility: visible;
    opacity: 1;
}

/* .felin-header-home__menu__item:hover .felin-header-home__submenu {
  visibility: visible;
  opacity: 1;
} */

.felin-header-home__menu__link {
  cursor: pointer;
}

.felin-header-home__submenu .felin-header-home__menu__link {
  width: auto;
  padding: 0px 15px;
  margin-left: 5px;
  cursor: pointer;
}

.felin-header-home__submenu__item a {
  display: block; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  text-align: left;
  font-size: 13.125px;
  font-weight: 500;
  color: var(--dark-color);
  transition: all 0.3s ease;
  width: 100%;
}

.merchant_menu {
  padding: 30px 0 0 0;
  row-gap: 15px;
}

/* .felin-header-home__submenu__item a {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  text-align: left;
  color: var(--dark-color);
  transition: all 0.3s ease;
  font-size: 13px;
} */

.felin-header-home__submenu__item a:hover {
  background-color: var(--gray-color);
  border-radius: 5px;
}

/* Key solution part to handle right side overflow */
.felin-header-home__submenu {
  right: auto;
  left: 0;
}

.more_items{
  right: 0;
  left: auto;
  transform-origin: top right;
}
/* Shift submenu to the left when overflowing on the right side */
/* .felin-header-home__menu__item:hover .felin-header-home__submenu {
  right: 0;
  left: auto;
  transform-origin: top right;
} */

.felin-header-home__submenu .felin-header-home__menu__link.active {
  color: var(--purple-color);
}

.felin-header-home__menu__item a[href="signup"] {
  display: inline-block;
  padding: 10px 20px;
  color: var(--purple-color); 
  background-color: var(--transparent-color); 
  border: 1px solid var(--purple-color); 
  border-radius: 20px; 
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.felin-header-home__menu__item a[href="signup"]:hover {
  color: var(--white-color); 
  background-color: var(--purple-color); 
  border: 1px solid var(--purple-color); 
}

.felin-header-home h1 {
  font-size: 28px; 
  font-weight: bold; 
  color: #000;
  margin: 0; 
}

.felin-header-home {
  display: block;
}

.felin-sidebar-home {
  display: none;
}

.felin-header-home__submenu {
  z-index: 20;
}

@media only screen and (max-width: 1199px) {
    .felin-header-home {
      display: none;
    }
}

@media only screen and (min-width: 1199px) {
    .felin-header-home {
      display: block;
    }
}