
@font-face {
  font-family: 'Geologica';
  src: url('../public/fonts/Geologica/static/Geologica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('../public/fonts/Geologica/static/Geologica_Auto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal; /* Correct style */
}

:root {
  --primary-color: #ff9a3d;
  --primary-color-transparent: #f9e5d4;
  --primary-color-transparent-strong: #faddc4;
  --secondary-color: #B7DBF9;
  --dark-color: #17161E;
  --body-color: #464255;
  --desc-color: #3B3741;
  --sec-color: rgba(32, 33, 37, 0.12);
  --gray-color: #ECEAF3;
  --grayTwo-color: #D0D6DE;
  --grayThree-color: #B9BBBD;
  --section-color: #F3F2F7;
  --sectionTwo-color: #F5F4F9;
  --sectionThree-color: #fcfcfc;
  --light-color: #fdfdfd;
  --white-color: #ffffff;
  --white-fade-color: #ECEAF3;
  --success-color: #00A389;
  --warning-color: #FFBB54;
  --danger-color: #FF5B5B;
  --pink-color: #ff68b5;
  --info-color: #58CDFF;
  --tertiary-color: #EF9A91;
  --quatinery-color: #F1E6B9;
  --quatinery-color--transparent: #F1E6d8;
  --dark-color-transparent: #17161E26;
  --success-color-transparent: #2ED6A326;
  --warning-color-transparent: #FFBB5426;
  --info-color-transparent: #58CDFF26;
  --danger-color-transparent: #FF5B5B26;
  --purple-color: #7720e7;
  --purple-color-transparent: rgba(119, 32, 231, 0.5);
  --orange-color: #ff9a3d;
  --poppins: 'Geologica', 'Poppins', sans-serif;
  --transparent-color: rgba(255, 255, 255, 0.64);
  --home-text-color: rgba(32, 33, 37, 0.64);
  --page-three-color-blue: #f2f5fa;
  --page-three-color-green: #f3faf1;
  --page-three-color-purple: #faf1f7;

  --max-width: 90%;
  --margin-bottom-big: 80px;
  --margin-bottom-small: 40px;
}


/*---------------------------------------
#. General
---------------------------------------*/


body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(var(--color-dark), 0);
  box-sizing: border-box;
  display: box;
}




.felin-main-content-home {
  display: flex;
  flex-direction: column; /* Arrange child elements vertically */
  gap: 30px; /* Space between items */
  justify-content: space-between; /* Distribute space between items */
  background-color: var(--dark-color); /* Ensure there's a background color */
  min-height: 90vh; /* Ensure it takes at least the full viewport height */
}


.felin-sections {
  background-color: white;
  border-bottom: 2px solid white;
  border-radius: 20px;
  padding-top: 80px;
}

.felin-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  color: var(--body-color);
  background-color: var(--gray-color);
  border: none;
  border-radius: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.felin-home-page__button-wrapper {
  display: flex;
  align-items: center; /* Center button horizontally */
  justify-content: center; /* Center button horizontally */
}

.felin-home-page__button {
  padding: 10px 15px ;
  font-size: 14px ;
  color: var(--white-color);
  background: var(--orange-color);
  border: 3px solid var(--orange-color);
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 600;
  justify-content: center;
}

.felin-home-page__button:hover {
  color: var(--white-color); 
}

/* .felin-btn.active, .felin-btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
} */

@media only screen and (max-width: 1440px) {
  .felin-btn {
    font-size: 14px;
  }
}

@media only screen and (max-width: 479px) {
  .felin-btn {
    padding: 10px 18px;
  }
  .felin-btn svg{
    width: 16px;
    height: 16px;
  }
}


@media only screen and (max-width: 1920px) {
  .felin-sections  {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 1600px) {
  .felin-sections  {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 1440px) {
  .felin-sections  {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 1199px) {
  .felin-sections  {
    padding-top: 40px; /* Adjust padding for smaller screens */
  }
}

@media only screen and (max-width: 799px) {
  .felin-sections  {
    padding-top: 30px; /* Adjust padding for smaller screens */
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 0;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 23px;
}

p {
  font-family: var(--poppins);
  font-weight: 400;
  margin-bottom: 0;
}

a {
  color: var(--body-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--primary-color);
}

img {
  max-width: 100%;
}

.bold {
  font-weight: 700;
}

.semii-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.font-regular {
  font-style: 16px;
}

.font-sm {
  font-style: 14px;
}

.font-xs {
  font-style: 12px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-family: var(--poppins);
  background: transparent;
}

@media only screen and (max-width: 1440px) {
  body {
    font-size: 15px;
  }
}

.gutter-40 {
  margin: 0 -20px;
}

.gutter-40 > [class*='col-'] {
  padding-right: 20px;
  padding-left: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

@media only screen and (max-width: 991px) {
  .md-mb-40 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1199px) {
  .lg-mb-40 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .ssm-mb-40 {
    margin-bottom: 40px;
  }
}
